# <font color='#9575cd'>1. Importing Packages and Data</font>

In [1]:
import os
import gc
import warnings

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import StratifiedKFold
from sklearn.preprocessing import StandardScaler

warnings.filterwarnings('ignore')
%matplotlib inline
sns.set_style('whitegrid')

In [2]:
folderPath = 'D:/Competitions/Data/PLAsTiCC_Challengle'

In [3]:
train = pd.read_csv(os.path.join(folderPath,'training_set.csv.zip'),compression='zip')
train_md = pd.read_csv(os.path.join(folderPath,'training_set_metadata.csv'))

In [4]:
train.head()

   object_id         mjd  passband        flux   flux_err  detected
0        615  59750.4229         2 -544.810303   3.622952         1
1        615  59750.4306         1 -816.434326   5.553370         1
2        615  59750.4383         3 -471.385529   3.801213         1
3        615  59750.4450         4 -388.984985  11.395031         1
4        615  59752.4070         2 -681.858887   4.041204         1

In [5]:
train_md.head()

,object_id,ra,decl,gal_l,gal_b,ddf,hostgal_specz,hostgal_photoz,hostgal_photoz_err,distmod,mwebv,target
0,615,349.046051,-61.943836,320.796530,-51.753706,1,0.0000,0.0000,0.0000,NaN,0.017,92
1,713,53.085938,-27.784405,223.525509,-54.460748,1,1.8181,1.6267,0.2552,45.4063,0.007,88
2,730,33.574219,-6.579593,170.455585,-61.548219,1,0.2320,0.2262,0.0157,40.2561,0.021,42
3,745,0.189873,-45.586655,328.254458,-68.969298,1,0.3037,0.2813,1.1523,40.7951,0.007,90
4,1124,352.711273,-63.823658,316.922299,-51.059403,1,0.1934,0.2415,0.0176,40.4166,0.024,90

In [8]:
train_md["target"]

0       92
1       88
2       42
3       90
4       90
5       65
6       90
7       42
8       90
9       65
10      90
11      42
12      42
13      90
14      65
15      16
16      67
17      67
18      42
19      95
20      88
21      62
22      88
23      42
24      16
25      15
26      42
27      90
28      90
29      90
        ..
7818     6
7819    42
7820    90
7821    16
7822    42
7823    65
7824    52
7825    90
7826    65
7827    15
7828    16
7829    90
7830    16
7831    42
7832    15
7833    52
7834    65
7835    62
7836    42
7837    64
7838    16
7839    15
7840    67
7841    16
7842    65
7843    65
7844    90
7845    16
7846    65
7847     6
Name: target, Length: 7848, dtype: int64

# <font color='#9575cd'>2. Data Exploration and Manipulation</font>

### <font color="#00b8d4">2.1 Missing value treatment</font>

### <font color="#00b8d4">2.2 Outlier Detection and treatment</font>

### <font color="#00b8d4">2.3 Oversampling the minority class</font>

### <font color="#00b8d4">2.4 Data type assignment</font>

### <font color="#00b8d4">2.5 Label Exploration</font>

# <font color='#9575cd'>3. Feature Engineering</font>

### <font color="#006064">3.1. Removing Redundant Columns</font>

# <font color='#9575cd'>4. Machine Learning Modelling</font>

### <font color="#006064">4.1. Data Pre-processing</font>

##### <font color="#0097a7">4.1.1 Imputation</font>

##### <font color="#0097a7">4.1.2 Labelling of Categorical variables</font>

##### <font color="#0097a7">4.1.3 One Hot Encoder</font>

##### <font color="#0097a7">4.1.4 Scaling</font>

### <font color="#006064">4.2 Creating Baseline Model </font>

### <font color="#006064">4.3 Model Selection</font>

### <font color="#006064">4.4 Model Optimization</font>

### <font color="#006064">4.5 Implementation</font>

# <font color='#9575cd'>5. Investigating Predictions/Evaluation</font>

# <font color='#9575cd'>6. Submission</font>