In [1]:
import pandas as pd
import datetime as dt #its not a library but a module. To conserve memory it needs to be loaded manually

## Review to python's datetime Module

In [2]:
sumday = dt.date(1989,9,28)

In [3]:
sumday.ctime()

'Thu Sep 28 00:00:00 1989'

In [4]:
print(sumday.year, sumday.month, sumday.day)

1989 9 28

In [5]:
print(str(dt.datetime(1989,9,28)))
print(str(dt.datetime(1989,9,28,17,13,57)))

1989-09-28 00:00:00
1989-09-28 17:13:57

In [6]:
sometime = dt.datetime(1989,9,28,4,30,12)

In [7]:
print(sometime.year, sometime.month, sometime.day, sometime.hour, sometime.minute, sometime.second)

1989 9 28 4 30 12

## The pandas Timestamp object
Timestamp pandas version of datetime

In [8]:
print(pd.Timestamp('1989-09-28'))
print(pd.Timestamp('1989/09/28'))
print(pd.Timestamp('1989, 09, 28')) #space is mandatory
print(pd.Timestamp('1989;09;28'))
print(pd.Timestamp('28-09-1989'))
print(pd.Timestamp('09-28-1989'))
print("print(pd.Timestamp('1989-28-09')) #throws an exception")
print(pd.Timestamp('4/3/2000'))

1989-09-28 00:00:00
1989-09-28 00:00:00
1989-09-28 00:00:00
1989-09-28 00:00:00
1989-09-28 00:00:00
1989-09-28 00:00:00
print(pd.Timestamp('1989-28-09')) #throws an exception
2000-04-03 00:00:00

In [9]:
print(pd.Timestamp('2000-03-08 08:03:05'))
print(pd.Timestamp('2000-03-08 08:03:05 PM'))

2000-03-08 08:03:05
2000-03-08 20:03:05

In [10]:
pd.Timestamp(dt.date(1989,9,28))

Timestamp('1989-09-28 00:00:00')

In [11]:
pd.Timestamp(dt.datetime(1989,9,28,13,10,11))

Timestamp('1989-09-28 13:10:11')

## The pandas DateTimeIndex object
Its a box/container for multiple pandas time stamps

In [12]:
dates = ['2016-01-02','2016/04/12','2009-09-07']
dtIndex  = pd.DatetimeIndex(dates)

In [13]:
values = [100,200,300]
data = pd.Series(values,index=dtIndex)

In [14]:
data

2016-01-02    100
2016-04-12    200
2009-09-07    300
dtype: int64

## The pd.to_datetime() Method

In [15]:
print(pd.to_datetime('2001-04-19'))
print(pd.to_datetime(dt.date(2015,1,1)))
print(pd.to_datetime(dt.datetime(2015,1,1,1,1,1)))
print(pd.to_datetime(['2015-01-03','2014/02/08','2016','July 4th 1996']))

2001-04-19 00:00:00
2015-01-01 00:00:00
2015-01-01 01:01:01
DatetimeIndex(['2015-01-03', '2014-02-08', '2016-01-01', '1996-07-04'], dtype='datetime64[ns]', freq=None)

In [16]:
times = pd.Series(['2015-01-03','2014/02/08','2016','July 4th 1996'])

In [17]:
pd.to_datetime(times)

0   2015-01-03
1   2014-02-08
2   2016-01-01
3   1996-07-04
dtype: datetime64[ns]

In [18]:
print("pd.to_datetime(pd.Series(['2015-01-03','2014/02/08','Hello','July 4th 1996'])) throws error")
pd.to_datetime(pd.Series(['2015-01-03','2014/02/08','Hello','July 4th 1996']),errors="coerce")

pd.to_datetime(pd.Series(['2015-01-03','2014/02/08','Hello','July 4th 1996'])) throws error

0   2015-01-03
1   2014-02-08
2          NaT
3   1996-07-04
dtype: datetime64[ns]

In [19]:
pd.to_datetime([1511499214,622940400],unit="s")

DatetimeIndex(['2017-11-24 04:53:34', '1989-09-27 23:00:00'], dtype='datetime64[ns]', freq=None)

## Create Range of Dates with pd.date_range() Method, Part 1

In [20]:
times = pd.date_range(start="2016-01-01",end="2016-01-10",freq="D")

In [21]:
type(times)

pandas.core.indexes.datetimes.DatetimeIndex

In [22]:
times[0]

Timestamp('2016-01-01 00:00:00', freq='D')

In [23]:
print(pd.date_range(start="2016-01-01",end="2016-01-10",freq="0.5D")) #incrementing by 12 hours
print(pd.date_range(start="2016-01-01",end="2016-01-10",freq="2D")) #jumping 2 days
print(pd.date_range(start="2016-01-01",end="2016-01-10",freq="B")) #skipping weekends, B is business days
print(pd.date_range(start="2016-01-01",end="2016-01-10",freq="W")) #Specifying First day of week which is Sunday
print(pd.date_range(start="2016-01-01",end="2016-01-10",freq="W-FRI")) #Specyfing first day of Week as Friday

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 12:00:00',
               '2016-01-02 00:00:00', '2016-01-02 12:00:00',
               '2016-01-03 00:00:00', '2016-01-03 12:00:00',
               '2016-01-04 00:00:00', '2016-01-04 12:00:00',
               '2016-01-05 00:00:00', '2016-01-05 12:00:00',
               '2016-01-06 00:00:00', '2016-01-06 12:00:00',
               '2016-01-07 00:00:00', '2016-01-07 12:00:00',
               '2016-01-08 00:00:00', '2016-01-08 12:00:00',
               '2016-01-09 00:00:00', '2016-01-09 12:00:00',
               '2016-01-10 00:00:00'],
              dtype='datetime64[ns]', freq='12H')
DatetimeIndex(['2016-01-01', '2016-01-03', '2016-01-05', '2016-01-07',
               '2016-01-09'],
              dtype='datetime64[ns]', freq='2D')
DatetimeIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
               '2016-01-07', '2016-01-08'],
              dtype='datetime64[ns]', freq='B')
DatetimeIndex(['2016-01-03', '2016-01-10'], dtype='datetime64[ns]', freq='W-SUN')
DatetimeIndex(['2016-01-01', '2016-01-08'], dtype='datetime64[ns]', freq='W-FRI')

In [24]:
print(pd.date_range(start="2016-01-01",end="2016-01-2",freq="4H")) #frequency is hour
print(pd.date_range(start="2016-01-01",end="2016-04-2",freq="M")) #frequency is Month, and gives last day of each month
print(pd.date_range(start="2016-01-01",end="2016-04-2",freq="MS")) #frequency is Month, and gives start day of each month
print(pd.date_range(start="2016-01-01",end="2017-04-2",freq="A")) #frequency is Year, and gives last day of each year

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 04:00:00',
               '2016-01-01 08:00:00', '2016-01-01 12:00:00',
               '2016-01-01 16:00:00', '2016-01-01 20:00:00',
               '2016-01-02 00:00:00'],
              dtype='datetime64[ns]', freq='4H')
DatetimeIndex(['2016-01-31', '2016-02-29', '2016-03-31'], dtype='datetime64[ns]', freq='M')
DatetimeIndex(['2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01'], dtype='datetime64[ns]', freq='MS')
DatetimeIndex(['2016-12-31'], dtype='datetime64[ns]', freq='A-DEC')

In [25]:
pd.date_range(start='2012-09-09',periods=5) #number of results

DatetimeIndex(['2012-09-09', '2012-09-10', '2012-09-11', '2012-09-12',
               '2012-09-13'],
              dtype='datetime64[ns]', freq='D')

In [26]:
pd.date_range(end="2012-09-09",periods=5)

DatetimeIndex(['2012-09-05', '2012-09-06', '2012-09-07', '2012-09-08',
               '2012-09-09'],
              dtype='datetime64[ns]', freq='D')

## The .dt Accessor

In [27]:
bunch_of_dates = pd.date_range(start="2000-01-01",end="2010-12-31",freq="24D")

In [28]:
s = pd.Series(bunch_of_dates)

In [29]:
print("Cannot do it directly s.day, We have to use dt")
s.dt.month
s.dt.weekday_name

Cannot do it directly s.day, We have to use dt

0       Saturday
1        Tuesday
2         Friday
3         Monday
4       Thursday
5         Sunday
6      Wednesday
7       Saturday
8        Tuesday
9         Friday
10        Monday
11      Thursday
12        Sunday
13     Wednesday
14      Saturday
15       Tuesday
16        Friday
17        Monday
18      Thursday
19        Sunday
20     Wednesday
21      Saturday
22       Tuesday
23        Friday
24        Monday
25      Thursday
26        Sunday
27     Wednesday
28      Saturday
29       Tuesday
         ...
138       Sunday
139    Wednesday
140     Saturday
141      Tuesday
142       Friday
143       Monday
144     Thursday
145       Sunday
146    Wednesday
147     Saturday
148      Tuesday
149       Friday
150       Monday
151     Thursday
152       Sunday
153    Wednesday
154     Saturday
155      Tuesday
156       Friday
157       Monday
158     Thursday
159       Sunday
160    Wednesday
161     Saturday
162      Tuesday
163       Friday
164       Monday
165     Thursday
166       Sunday
167    Wednesday
Length: 168, dtype: object

In [30]:
s.dt.date[s.dt.is_quarter_start] #All the days that falls on 1st Jan, 1st April, 1st July and 1st Oactober

0      2000-01-01
19     2001-04-01
38     2002-07-01
137    2009-01-01
dtype: object

## Import Financial Data Set with pandas_datareader Library

In [31]:
from pandas_datareader import data

In [32]:
company = "MSFT"
source = "yahoo"
start = "2010-01-01"
end = "2017-11-30"

financialData = data.DataReader(name=company,data_source=source,start=start,end=end)

In [33]:
financialData.head(3)

                 Open   High        Low      Close  Adj Close    Volume
Date
2009-12-31  30.980000  30.99  30.480000  30.480000  24.766968  31929700
2010-01-04  30.620001  31.10  30.590000  30.950001  25.148876  38409100
2010-01-05  30.850000  31.10  30.639999  30.959999  25.157001  49749600

In [34]:
financialData.values
financialData.columns
financialData.index

DatetimeIndex(['2009-12-31', '2010-01-04', '2010-01-05', '2010-01-06',
               '2010-01-07', '2010-01-08', '2010-01-11', '2010-01-12',
               '2010-01-13', '2010-01-14',
               ...
               '2017-11-15', '2017-11-16', '2017-11-17', '2017-11-20',
               '2017-11-21', '2017-11-22', '2017-11-24', '2017-11-27',
               '2017-11-28', '2017-11-29'],
              dtype='datetime64[ns]', name='Date', length=1993, freq=None)

In [35]:
financialData.loc["2016-02-01"] #loc method returns the rows based on values on index column
financialData.iloc[10]

Open         3.108000e+01
High         3.124000e+01
Low          3.071000e+01
Close        3.086000e+01
Adj Close    2.507575e+01
Volume       7.991320e+07
Name: 2010-01-15 00:00:00, dtype: float64

In [36]:
financialData.loc["2016-01-01":"2017-01-01"].head(2)

             Open       High        Low      Close  Adj Close    Volume
Date
2016-01-04  54.32  54.799999  53.389999  54.799999  52.171520  53778000
2016-01-05  54.93  55.389999  54.540001  55.049999  52.409531  34079700

In [37]:
birthdays = pd.date_range(start="1989-09-28",end="2017, 12, 31",freq=pd.DateOffset(years=1))

In [38]:
financialData.loc[financialData.index.isin(birthdays)]

                 Open       High        Low      Close  Adj Close    Volume
Date
2010-09-28  24.799999  24.900000  24.350000  24.680000  20.346750  56041200
2011-09-28  25.930000  26.370001  25.510000  25.580000  21.619221  60736200
2012-09-28  30.180000  30.260000  29.740000  29.760000  25.845686  54229300
2015-09-28  43.830002  44.090000  43.209999  43.290001  40.937660  27613800
2016-09-28  57.880001  58.060001  57.669998  58.029999  56.381680  20536400
2017-09-28  73.540001  73.970001  73.309998  73.870003  73.500870  10883800

## Timestamp Object Attributes

In [39]:
someday = financialData.index[500]
someday

Timestamp('2011-12-23 00:00:00')

In [40]:
someday.day
someday.month
someday.year
someday.weekday_name
someday.is_month_end
someday.is_leap_year

False

In [41]:
financialData.insert(0,"Day of Week",financialData.index.weekday_name)

In [42]:
financialData.head(3)

,Day of Week,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,
2009-12-31,Thursday,30.980000,30.99,30.480000,30.480000,24.766968,31929700
2010-01-04,Monday,30.620001,31.10,30.590000,30.950001,25.148876,38409100
2010-01-05,Tuesday,30.850000,31.10,30.639999,30.959999,25.157001,49749600

In [43]:
birthdays.weekday_name

Index(['Thursday', 'Friday', 'Saturday', 'Monday', 'Tuesday', 'Wednesday',
       'Thursday', 'Saturday', 'Sunday', 'Monday', 'Tuesday', 'Thursday',
       'Friday', 'Saturday', 'Sunday', 'Tuesday', 'Wednesday', 'Thursday',
       'Friday', 'Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Friday',
       'Saturday', 'Sunday', 'Monday', 'Wednesday', 'Thursday'],
      dtype='object')

## The .truncate() Method
This is used for slicing operations on datetime

In [44]:
financialData.truncate(before="2011-01-01",after='2011-02-01') 
#between before and after and needs datetime index should be sorted properly or use sort_index method before

,Day of Week,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,
2011-01-03,Monday,28.049999,28.180000,27.920000,27.980000,23.209078,53443800
2011-01-04,Tuesday,27.940001,28.170000,27.850000,28.090000,23.300323,54405600
2011-01-05,Wednesday,27.900000,28.010000,27.770000,28.000000,23.225672,58998700
2011-01-06,Thursday,28.040001,28.850000,27.860001,28.820000,23.905846,88026300
2011-01-07,Friday,28.639999,28.740000,28.250000,28.600000,23.723364,73762000
2011-01-10,Monday,28.260000,28.400000,28.040001,28.219999,23.408155,57573600
2011-01-11,Tuesday,28.200001,28.250000,28.049999,28.110001,23.316910,50298900
2011-01-12,Wednesday,28.120001,28.590000,28.070000,28.549999,23.681883,52631100
2011-01-13,Thursday,28.330000,28.389999,28.010000,28.190001,23.383274,67077600
2011-01-14,Friday,28.080000,28.379999,27.910000,28.299999,23.474516,62688400
2011-01-18,Tuesday,28.160000,28.740000,28.139999,28.660000,23.773127,53322700
2011-01-19,Wednesday,28.459999,28.680000,28.270000,28.469999,23.615528,50005900
2011-01-20,Thursday,28.500000,28.549999,28.129999,28.350000,23.515991,58613600
2011-01-21,Friday,28.400000,28.430000,28.020000,28.020000,23.242262,58080300
2011-01-24,Monday,28.020000,28.559999,27.990000,28.379999,23.540869,52047800
2011-01-25,Tuesday,28.139999,28.450001,28.120001,28.450001,23.598934,42436600
2011-01-26,Wednesday,28.510000,28.990000,28.500000,28.780001,23.872667,74628800
2011-01-27,Thursday,28.750000,29.459999,28.490000,28.870001,23.947323,146938600
2011-01-28,Friday,28.900000,28.930000,27.450001,27.750000,23.018297,141249400
2011-01-31,Monday,27.770000,27.900000,27.420000,27.730000,23.001705,65029000
2011-02-01,Tuesday,27.799999,28.059999,27.610001,27.990000,23.217369,62810700

## The pd.DateOffset Objects
This is used to modify existing dates

In [45]:
googlestock = data.DataReader(name="GOOG",data_source="yahoo",start=dt.date(2000,1,1),end=dt.datetime.now())