In [1]:
#https://www.analyticsvidhya.com/blog/2016/01/12-pandas-techniques-python-data-manipulation/

In [2]:
import os;
import pandas as pd;
import numpy as np;

In [9]:
folderPath = "D:/Rep/MyLearning/articles/HelpTutorials";

In [10]:
fileName = "LoanPred.csv";
filePath = os.path.join(folderPath,fileName);
print("Reading from :{0}".format(filePath))

Reading from :D:/Rep/MyLearning/articles/HelpTutorials\LoanPred.csv

In [19]:
data = pd.read_csv(filePath,index_col="Loan_ID")
data.columns

Index(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [20]:
from scipy.stats import mode

In [21]:
mode(data['Married'])

C:\Users\Inspiron\Anaconda3\envs\tensorflow\lib\site-packages\scipy\stats\stats.py:253: RuntimeWarning: The input array could not be properly checked for nan values. nan values will be ignored.
  "values. nan values will be ignored.", RuntimeWarning)

TypeError: unorderable types: str() > float()

In [23]:
pd.crosstab(data["Credit_History"],data["Loan_Status"],margins=True)

Loan_Status       N    Y  All
Credit_History
0.0              82    7   89
1.0              97  378  475
All             179  385  564

In [24]:
def percConvert(ser):
    return ser/float(ser[-1])
pd.crosstab(data["Credit_History"],data["Loan_Status"],margins=True).apply(percConvert, axis=1)

Loan_Status            N         Y  All
Credit_History
0.0             0.921348  0.078652  1.0
1.0             0.204211  0.795789  1.0
All             0.317376  0.682624  1.0